@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-colors {
  --gradient-color-1: #0249e5;  /*lightblue*/
  --gradient-color-2: #0249e5;  /*darkblue*/
  --gradient-color-3: #0b2540;  /*darkblue*/
  --gradient-color-4: #13bcbc;  /*green*/
  --gradient-speed: 0.000006;
}