@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-colors {
  --gradient-color-1: #0249e5;  
  --gradient-color-2: #13BCBC;  
  --gradient-color-3: #0b2540;  
  --gradient-color-4: #0b2540; /*9966FF*/
  --gradient-speed: 0.000003;
}

@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
